.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 2px;
    box-shadow: none;
    color: white;
}

.btn--default {
    padding: 9px 19px;
    border: 0.5px solid $lightgrey;
    background: none;
    color: $lightblack;
}

.btn--success {
    background: $success;
}

.btn--primary {
    background: $primary;
}

.btn--danger {
    background: $danger;
}
